.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  width: 150px;
  height: 30px;
  font-size: 20px;
  margin: 8px;
}
